<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>
  <div class="login">
    <div class="form-container">
      <img class="logo" src="../../../../assets/LogoSinFondo.png" alt="logo">
      <h1 class="title">Se le ha enviado un email</h1>
      <p class="subtitle">Por favor revise la bandeja de entrada de su correo electronico</p>
      <div class="email-image">
        <img src="../../../../assets/icons/email.svg" alt="">
      </div>
      <input routerLink="Enviar" value="Aceptar" type="submit" class="primary-button login-button">

    </div>
  </div>
</body>
