$white: #FFFFFF;
$black: #000000;
$Very-light-pink: #C7C7C7;
$text-input-field: #F7F7F7;
$holpital-green: #9ae07d;
$sm: 14px;
$md:16px;
$lg:0px;

body{
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}
.desktop-menu{
  position: absolute;
  background: $white;
  top: 64;
  right: 60px;
  width: 120px;
  height: auto;
  border: 1px solid $Very-light-pink;
  border-radius: 6px;
  padding: 20px 20px 0px 20px;
}
.desktop-menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
.desktop-menu ul li{
  display: flex;
  flex-direction: column;
  text-align: end;
}

.desktop-menu ul li a:last-child{
  padding-top: 20px;
  border-top: 1px solid $Very-light-pink;
}
.desktop-menu ul li a:last-child:hover{
 color: $Very-light-pink;
}

.desktop-menu ul li a:not(:last-child){
  font-weight: bold;
}
.desktop-menu ul li a:hover{
  color: $holpital-green;
}

.desktop-menu ul li a:last-child{
  color: $holpital-green;
  font-size: $sm;
}
.desktop-menu ul li a{
  color: $black;
  font-size: $sm;
  display: inline-block;
  text-decoration: none;
  margin-bottom: 18px;
}
