$white: #FFFFFF;
$black: #000000;
$Very-light-pink: #C7C7C7;
$text-input-field: #F7F7F7;
$holpital-green: #9ae07d;
$sm: 14px;
$md:16px;
$lg:0px;
$maron-oscuro: #483849;
$maron-oscuro2: #644858;
$maron-oscuro3: #8f6470;
$maron-claro2: #cb8f90;
$maron-claro: #ffcbb8;
$backgroud: #e7efe6;
$purpu: #d1aed0;

.footer {
  background-color: $backgroud;
  border-block: 1px solid $Very-light-pink;
  text-align: center;
  position: initial;
  bottom: 0;
  width: 100%;
}


.footer-content {
  max-width: 960px;
  margin: 0 auto;
}

.footer-text {
  color: $purpu;
  font-weight: bold;
  font-size: $md;
  margin: 10px;
}








